<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My Blog</a></h1>
        </div>

        <div>
            <p>published: 26.01.2019, 2:36 A.M.</p>
            <h2><a href="">My first post</a></h2>
            <p>I am a student of class 9 in a school of Uttar Pradesh.I love PUBG mobile a lot.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I am happy to create this post.</p>
        </div>
    </body>
</html>